<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c7a53b4b-a893-484a-a241-dcbdf3c05457" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c7a53b4b-a893-484a-a241-dcbdf3c05457fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="5f74ab45-83a2-4511-bede-0668b05f6256"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="f1268dd7-c63e-4261-8a12-73fcc83e113d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="52debaf5-cbb4-4ed1-b072-e0bbc81e0e26"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>